# ✅ Include only the final build output and essentials
!package.json
!icons
!LICENSE
!README.md

# ❌ Ignore development folders and configs
test/**
.vscode/**
scripts/**
docs/**
.vscode-test/**
node_modules/**
.history/**

# ❌ Ignore various config files and maps/logs
*.ts
*.map
*.log
*.md
*.mjs
*.yarnrc
*.gitignore
.eslintrc.*
.eslintignore
tsconfig.json
jsconfig.json
.vscode-test.*
makefile
Dockerfile
docker-compose.yaml
logs/**

# ❌ Ignore project quickstart or template files
vsc-extension-quickstart.md
