# Env
.env
src/config/.env

# Dev logs/temp
*.log
logs/
tmp-lmdb/

# Build artifacts
out/
*.vsix

# Dev-only files/dirs
.history/
Dockerfile
docker-compose.yaml
makefile
idea.js
vsc-extension-quickstart.md
changelog.md
demo.gif
eslint.config.mjs
jsconfig.json
.vscode/**
test/**
scripts/**

# Exclude node_modules by default…
node_modules/**

# …but include the WASM runtime we need at runtime
!node_modules/node-sqlite3-wasm/dist/**
