# Environment files
.env
src/config/.env

# Development files
*.log
logs/
tmp-lmdb/
node_modules/

# Build artifacts
out/
*.vsix

# Development directories
.history/
.vscode/
test/
scripts/
.history/

# Development files
Dockerfile
docker-compose.yaml
makefile
idea.js
vsc-extension-quickstart.md
changelog.md
demo.gif
eslint.config.mjs
jsconfig.json

# keep binaries
!prebuilds/**
